#wrapper, #overlay-1, #odisContent{
	height: 100%;
}
.navbar-dark i{
	color: #fff !important;
}

.navbar-dark .badge{
	background: #aeb2c4 !important;
}

.navbar-header{
	background: url(../img/logo-light-white.png) no-repeat;
    background-size: 139px;
    width: 150px;
    height: 60px;
	color: #fff;
}

.navbar-white .navbar-header{
	background: url(../img/logo-light.png) no-repeat;
    background-size: 139px;
    width: 150px;
    height: 60px;
}

.red{
	background: #e7505a;
}

.btn-outline{
	background: none;
	border: 2px solid #fff;
	color: #fff;
}

.btn-outline:hover{
	background: #e7505a;
	border: 2px solid #e7505a;
	color: #fff;
}

.main-footer{
	background: #f9f9f9;
	color: #222;
	padding: 0px 0px 0px 5px;
	border-top: 1px solid #ccc;
	font-size: 12px;
}
.page-footer{
	position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;
}
.form-wizard .steps>li.active>a.step .number {
    background-color: #e7505a  !important;
    color: #fff;
}
.form-wizard .steps>li.done>a.step .number {
    background-color: #578EBE;
    color: #fff;
}
.steps>li>a.step {
    color: #578EBE !important;
}
.steps>li>a.step:hover {
    color: #e7505a !important;
}