 <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="anonymos">
                            <a href="{{path('fos_user_security_login')}}" class="dropdown-toggle">
                                    <span class="username username-hide-on-mobile"> Login/Register </span>
                                    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                    <img alt="" class="img-circle" src='{{asset("images/anonymos.png")}}' /> </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
            </ul>
    </div>
<!-- END TOP NAVIGATION MENU -->