{% extends 'layout.html.twig' %}

{% block body %}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="container-fluid container-lf-space">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Vendor Dashboard
                        <small>Monitoring Administrators</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">My Dashboard</span>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#MyDashboard" data-toggle="tab" aria-expanded="false"> My Dashboard </a>
                </li>
                <li class="dropdown" >
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Administrators
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="dropdownListAdmin">
                        
                    </ul>
                </li>
            </ul>
            <div class="tab-content" id="tabContentAdmin">
                <div class="tab-pane fade active in" id="MyDashboard">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Administrators</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="listAdmin" class="scroller" style="height: 338px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Global Organization</span>
                                    </div>
                                </div>
                                <div class="portlet-body" id='globalOrganization'>
                                    <div id="sample">
                                        <div id="myDiagramDiv" style="background-color: #fff; height: 500px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Global Operation</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div id="globalOperation" class="chart" style="height: 500px; overflow: hidden; text-align: left;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Messaging</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; ">
                                        <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                            <ul class="chats">
                                                <li class="in">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>
                                                        <span class="datetime"> at 20:30 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>
                                                        <span class="datetime"> at 20:30 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>	
{% endblock %}
{%  block  specificJS %}
    
    <script>
        var data = {"class": "go.TreeModel",
        "nodeDataArray": [
            {"key": 1, "name": "Stella Payne Diaz", "title": "CEO", "dataMap": {"code": "TN","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 2, "name": "Luke Warm", "title": "VP Marketing/Sales", "parent": 1, "dataMap": {"code": "FR","name": "France","value": 1,"color": "#eea638"}},
            {"key": 3, "name": "Meg Meehan Hoffa", "title": "Sales", "parent": 2, "dataMap": {"code": "US","name": "","value": 1,"color": "#eea638"}},
            {"key": 4, "name": "Peggy Flaming", "title": "VP Engineering", "parent": 1, "dataMap": {"code": "UA","name": "","value": 1,"color": "#eea638"}},
            {"key": 5, "name": "Saul Wellingood", "title": "Manufacturing", "parent": 4, "dataMap": {"code": "UM","name": "","value": 1,"color": "#eea638"}},
            {"key": 6, "name": "Al Ligori", "title": "Marketing", "parent": 2, "dataMap": {"code": "AL","name": "","value": 1,"color": "#eea638"}},
            {"key": 7, "name": "Dot Stubadd", "title": "Sales Rep", "parent": 3, "dataMap": {"code": "TZ","name": "","value": 1,"color": "#eea638"}},
            {"key": 8, "name": "Les Ismore", "title": "Project Mgr", "parent": 5, "dataMap": {"code": "UG","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 9, "name": "April Lynn Parris", "title": "Events Mgr", "parent": 6, "dataMap": {"code": "US","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 10, "name": "Xavier Breath", "title": "Engineering", "parent": 4, "dataMap": {"code": "UY","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 11, "name": "Anita Hammer", "title": "Process", "parent": 5, "dataMap": {"code": "VE","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 12, "name": "Billy Aiken", "title": "Software", "parent": 10, "dataMap": {"code": "VG","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 13, "name": "Stan Wellback", "title": "Testing", "parent": 10, "dataMap": {"code": "AU","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 14, "name": "Marge Innovera", "title": "Hardware", "parent": 10, "dataMap": {"code": "AZ","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 15, "name": "Evan Elpus", "title": "Quality", "parent": 5, "dataMap": {"code": "AO","name": "Tunisia","value": 1,"color": "#eea638"}},
            {"key": 16, "name": "Lotta B. Essen", "title": "Sales Rep", "parent": 3, "dataMap": {"code": "AG","name": "Tunisia","value": 1,"color": "#eea638"}}
        ]
    };
   
        jQuery(document).ready(function () {
            Dashboard.init(); // init metronic core componets
            App.init();
            Layout.init(); // init metronic core componets
            Odischarts.init(data);
            odis_global_organization.create(data);
            odis_list_admin.create(data.nodeDataArray, "listAdmin");
        });
    </script>  
{% endblock %}
